<!DOCTYPE html>
<html lang="en" ng-app="alkiraApp">
<head>
<meta charset="UTF-8">

<!-- Bootstrap Css  -->
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Jquery -->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

<!-- Material Bootstrap Css -->
<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/css/material-wfont.min.css">

<!-- Overriding colour scheme -->
<link href="css/style.css" rel="stylesheet">

<!-- Animation Css -->
<link href="css/animations.css" rel="stylesheet">

<!-- Angular Material CSS now available via Google CDN; version 0.7 used here -->
<link rel="stylesheet"
	href="//rawgit.com/angular/bower-material/master/angular-material.css">

<title>Alkira Australia</title>
</head>
<body>

 	<!-- Top Menu Bar -->
	<section layout="row" flex data-ng-controller="AppCtrl">
			<!-- This is the top menubar with the logo and the menu button. -->
	<md-toolbar style="position: fixed; height: 30px;background-color:#1C3622;" layout="row">
		<div flex="5">
			<md-button style="margin-left:10px;margin-top:5px;background-color:#1C3622;" class="md-fab md-primary"
				aria-label="Side Menu" ng-click="toggleLeft()">
			<md-icon md-svg-src="icons/ic_menu_24px.svg"></md-icon> 
		</md-button>
		</div>
		<div flex>
			<p id="logo-box">
				<span>This is a sample text. Anything can go here.. maybe a motto.</span> 
			</p>
		</div>
		<div flex="10">
			<img style="margin-right:10px;" class="md-primary shadow-z-2 logo img-circle"
					ng-src="../res/img/alkira.png"></img>
		</div>
			

			
	</md-toolbar>
	
		<!-- Left Side Navigator -->
		<md-sidenav style="z-index:1050;"class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
			<md-toolbar class="menu-bar">
        		<h1 class="md-toolbar-tools" style="background-color:#1C3622;">{[{page.menuTitle}]}</h1>
      		</md-toolbar>
			<md-content class="md-padding" >
				<p hide-md show-gt-md>This sidenav will contain possible menu options,
				which can be dynamic</p>
				<p>
					<md-button  data-ng-click="nextPage()" class="md-primary">
						Next Page
					</md-button>
				</p>
			</md-content> 
			<div class="container-fluid">
				<p class="navbar-fixed-bottom" style="margin-top:10px;margin-bottom:10px">
					© 2014 Alkira International, Inc. · <a href="#">Privacy</a> · <a
						href="#">Terms</a>
				</p>
			</div>
		 </md-sidenav>
		 
		 
		<!-- Main Content -->
		<md-content flex class="md-padding" style="overflow-x: hidden;">
			<div style="margin-top:71px;"></div>
			<div layout="column" layout-fill layout-align="center center">
				<div class="view-animate-container">
    				<div class="view-animate" data-ng-include="page.url"></div>
  				</div>
			</div>
		</md-content>
	</section>

<!--Dependency Importation-->
	<!-- Angular Material Dependencies -->
	<script src="//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js"></script>
	<!-- Angular Material Dependencies -->
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>

	<!-- Angular Material Javascript now available via Google CDN; version 0.7 used here -->
	<script
		src="//rawgit.com/angular/bower-material/master/angular-material.js"></script>
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.js"></script>
	<script src="js/alkiraApp.js"></script>
	<script src="js/animations.js"></script>
</body>
</html>