

.navbar.navbar, .navbar-default.navbar {
	background: #455A64;
}

hr {
	border-top: 1px solid #FFF;
}
body{
	background-color:#727272;!important;
}

html {
	background-color:#727272;
}

.body .well, .container .well, .container-fluid .well, body .jumbotron, .container .jumbotron, .container-fluid .jumbotron, body .well-default, .container .well-default, .container-fluid .well-default, body .jumbotron-default, .container .jumbotron-default, .container-fluid .jumbotron-default {
	background-color:#727272;

}

.logo {
	width: 109px;
	height: 56px;
 	margin-top: 5px;
 	margin-botton: 10px;
}

.md-button {
	margin:6px;
}

.anime:hover{
	opacity: 0;
}

.anime:click{
	opacity: 0;
}